@import "~bootstrap/scss/bootstrap";
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts'; 
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');

body{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  display: grid;
  grid-template-rows: 48px 1fr 120px 20px;
  grid-template-columns: 1fr 380px; /*350px*/
  grid-template-areas: 
      "navbar navbar"
      "canvas sidepanel"
      "canvas canvas-overview"
      "footer footer";
  row-gap: 0px;
  column-gap: 0px;
  place-items: stretch;
  overflow: hidden;
}

.adlam-display-regular {
  font-family: "ADLaM Display", system-ui;
  font-weight: 400;
  font-style: normal;
}


body > * {
  box-sizing: border-box;
  outline: none;
}

svg svg >*{
  outline: none;
}

nav {
  background-color: #f3f7fc; // #002171;
}

#navbar{
  grid-area: navbar;
  background: #003470; //  #002171 /*#560027*/;
  color: white;
  padding: 6px;
  padding-left: 12px;
  padding-right: 12px;
  line-height: 36px;
}


#navbar .title{
  font-size: 20px;
  font-weight: 500;
  border-bottom: solid 1px #212529;
}

nav .navbar-brand{
  color: white;
  font-size: 25px;
  font-weight: 500;
}

nav .navbar-brand:hover{
  color: white;
}

nav .nav-link {
  color: white;
}

nav .nav-link:hover {
  color: whitesmoke;
}

nav .nav-link.show {
  color: whitesmoke !important;
}

#footer{
  grid-area: footer;
  background: #003470; // #002171 /*#560027*/;
  color: white;
  line-height: 20px;
  font-size: 0.8em;
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* border-top: solid 1px #212529; */

  #app-version{
    font-family: monospace;
    font-weight: 300;
  }

  #server-status{
    font-family: monospace;
    font-size: 0.8em;
    font-weight: 300;
  }
}



#tooltip-templates{
  display: none;
}


.nav-item{
  margin-left: 10px;
}