#import-panel{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0,0,0,0.8);
}

#import-container{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  
  width: 600px;
  height: 300px;
  background: #E1E2E1; /* #e3f2fd */
  outline: 2px dashed #003c8f; /*#b1bfca*/
  outline-offset: -10px;
  padding: 80px 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;

  font-size: 20px;
}

#import-container.is-dragover{
  background: #90A4AE;
}

#import-icon{
  font-size: 4.5em;
  /* color: #92B0B3; */
  color: #5e92f3;
}

#import-text{
  /* color: #92B0B3; */
  color: #1565c0;
}

#import-choose-button{
  font-weight: 600;
  cursor: pointer;
}

#import-choose-button:hover{
  font-weight: 600;
  color: #002171;
}

#import-file {
width: 0.1px;
height: 0.1px;
opacity: 0;
overflow: hidden;
position: absolute;
z-index: -1;
}

