#sidepanel{
  grid-area: sidepanel;
  /*background: #F5F5F6 #E1E2E1*/;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.sidepanel-menu{
  padding: 15px;
  overflow-y: auto;
}

.sidepanel-menu .row{
  margin-left: 0;
  margin-right: 0;
}

#sidepanel .btn-sm{
  font-size: 0.8em;
}
/*
* GLOBAL MENU
*/
#sidepanel .global-menu{
  padding: 0;
  background: white;
}

#sidepanel .global-menu .tab-content{
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  max-height: 100%;
}

#sidepanel .global-menu .tab-content table {
  width: 100%;
  cursor: default;
}

.edit {
  cursor: pointer;
}

#tab-activities tr:hover{
  background: red;

}

#tab-constraints tr:hover{
  background: #F5F5F6;
}

/*
* ACTIVITY MENU
*/
#sidepanel .activity-menu{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 50px 1fr 30px;
  grid-template-columns: 1fr;
  grid-template-areas: 
      "header"
      "body"
      "footer";
  row-gap: 10px;
  place-items: stretch;
  background: #F5F5F6;
}

#sidepanel .activity-menu .header{
  grid-area: header;
}

#sidepanel .activity-menu .header .activity-id-label{
  font-family: monospace;
  font-weight: 100;
  font-size: small;
}

#sidepanel .activity-menu .header .activity-id{
  font-family: monospace;
  font-weight: 100;
  font-size: small;
}

#sidepanel .activity-menu .body{
  grid-area: body;
}

#sidepanel .activity-menu .body input[type=text]{
  font-family: monospace;
  font-size: small;
}

#sidepanel .activity-menu .body .form-check-label{
  font-family: monospace;
  font-weight: 100;
  font-size: small;
}





#sidepanel .activity-menu .footer{
  grid-area: footer;
}
/*
* CONSTRAINT MENU
*/
#sidepanel .constraint-menu{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 35px 50px 1fr 30px;
  grid-template-columns: 1fr;
  grid-template-areas: 
      "header"
      "params"
      "body"
      "footer";
  row-gap: 10px;
  place-items: stretch;
  background: #F5F5F6;
}

#sidepanel .constraint-menu .header{
  grid-area: header;
  border-bottom: solid 1px darkgray;
}

#sidepanel .constraint-menu .header .constraint-id-label{
  font-family: monospace;
  font-weight: 100;
  font-size: small;
}

#sidepanel .constraint-menu .header .constraint-id{
  font-family: monospace;
  font-weight: 100;
  font-size: small;
}

#sidepanel .constraint-menu .params{
  grid-area: params;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 1fr 35px;
  grid-template-areas: 
      "p1 swap-btn"
      "p2 swap-btn";
  align-items: stretch;
  font-size: small;
  border-bottom: solid 1px darkgray;
}
#sidepanel .constraint-menu .params .p1{
  grid-area: p1;
}
#sidepanel .constraint-menu .params .p2{
  grid-area: p2;
}
#sidepanel .constraint-menu .params .swap-btn{
  grid-area: swap-btn;
  position: relative;
}
#sidepanel .constraint-menu .params .swap-btn button{
  margin: 0;
  position: absolute;
  top: 45%;
  -ms-transform: translateY(-60%);
  transform: translateY(-60%);
}



#sidepanel .constraint-menu .params .param-name{
  font-weight: 800;
  font-family: monospace;
  font-size: 1.2em;
}
#sidepanel .constraint-menu .params .param-value{
  font-weight: 500;
  padding-left: 0.5em;
}




#sidepanel .constraint-menu .body{
  grid-area: body;
}

#sidepanel .constraint-menu .body .constraint-group-name{
  font-weight: 100;
  margin-top: 1em;
}

#sidepanel .constraint-menu .body .constraint-type{
  font-family: monospace;
  font-weight: 100;
  font-size: small;
}

#sidepanel .constraint-menu .body .constraint-type > span{
  margin-left: 1em;
}


#sidepanel .constraint-menu .footer{
  grid-area: footer;
}

.btn.delete-constraint {
  width: 100%;
}

.btn.delete-activity {
  width: 100%;
}

#num-activities {
  color: black;
  background: lightblue;
}

#num-constraints {
  color: black;
  background: lightblue;
}